.deliveryWrapper {
  min-height: 90vh;
}
.deliveryWrapper .deliveryBox {
  padding: 2rem;
  background-color: papayawhip;
  margin: 3rem auto;
  width: fit-content;
}
.deliveryWrapper .deliveryBox p {
  margin-top: 1.5rem;
}
.deliveryWrapper .deliveryBox .input {
  height: 30px;
  outline: none;
  border: 2px solid lightcoral;
  border-radius: 8px;
  width: 100%;
}
.deliveryWrapper .deliveryBox a {
  display: block;
  margin: 0.5rem auto;
  height: 34px;
  width: fit-content;
}
.deliveryWrapper .deliveryBox a button {
  height: 34px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
.deliveryWrapper .deliveryBox a button:active {
  left: 2px;
  top: 2px;
}
